#NavBar  {
  background-color: white; 
  text-align: center;
  padding-left: 100px;
  margin-right: 50px;
  color: #000;
  height: 8vh;}

a:hover {
  font-size: larger;}

.dropdown-item{
  font-size: medium;
}


h1, a {
  font-family: "Bitcount Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  padding: 40px;
  text-decoration: none;
}

.slide {
  height: 50vh;     /* 30% de la hauteur de l'écran */
  width: 100%;      /* pleine largeur */
  object-fit: cover; /* pour éviter les déformations */
  display: none;     /* géré par ton JS */
}


.butContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.grosBut {
  width: 50vw;
  height: 300px;
}
.grosBut img {
  width: 100%;
  height: 280px;
  display: block;
}


.contact {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: auto;
}

footer {
  background-image: url('Assets/bckg-footer.jpg');
  height: 20vh;
}

.fb {
  position: absolute;
  right: 0;
  padding-right: 10px;
}


